{{#extend "layout"}}

	{{#content "header" mode="append"}}
		{{#block "subtitle"}}Gallery{{/block}}
	{{/content}}

	{{#content "body"}}
		<div class="grid">
			<div class="col full">
				{{#block "left"}}{{/block}}
			</div>
		</div>
	{{/content}}

{{/extend}}
