{{#extend "layout"}}
	{{#content "header" mode="append"}}
		<h2>{{#block "subtitle"}}Gallery{{/block}}</h2>
	{{/content}}

	{{#content "body"}}
		<div class="slides">
			{{#each items}}
				{{#extend "slide"}}
					{{#content "image"}}
						<img src="slides/{{@index}}.png" alt="" />
					{{/content}}

					{{#content "body3"}}
						{{.}}
					{{/content}}
				{{/extend}}
			{{/each}}
		</div>

		{{#block "body2"}}
		{{/block}}
	{{/content}}
{{/extend}}
