{{#extend "layout"}}
	{{#append "header"}}
		<h2>{{#block "subtitle"}}Gallery{{/block}}</h2>
	{{/append}}

	{{#replace "body"}}
		<div class="slides">
			{{#each items}}
				{{#extend "slide"}}
					{{#replace "image"}}
						<img src="slides/{{@index}}.png" alt="" />
					{{/replace}}

					{{#replace "body3"}}
						{{.}}
					{{/replace}}
				{{/extend}}
			{{/each}}
		</div>

		{{#block "body2"}}
		{{/block}}
	{{/replace}}
{{/extend}}
