{{#extend "layout2col"}}

	{{#content "subtitle" mode="prepend"}}Photo {{/content}}

	{{#content "left"}}
		{{#embed "partial1"}}
			{{#content "image"}}
				<div style="background-image:url('1.png');"></div>
			{{/content}}
		{{/embed}}

		{{#embed "partial2"}}{{/embed}}

		{{#embed "partial3"}}{{/embed}}
	{{/content}}

	{{#content "right"}}
		<ul>
			<li>{{ alt1 }}</li>
			<li>{{ alt2 }}</li>
			<li>{{ alt3 }}</li>
		</ul>
	{{/content}}

	{{#content "footer"}}
		<small>&copy; 1999</small>
	{{/content}}

{{/extend}}
