{{#extend "layout1col"}}

	{{#content "header"}}One column{{/content}}

	{{#content "left"}}
		{{#embed "partial1"}}
			{{#content "image"}}
				<div style="background-image:url('1.png');"></div>
			{{/content}}
		{{/embed}}

		{{#embed "partial2"}}{{/embed}}

		{{#embed "partial3"}}{{/embed}}
	{{/content}}

{{/extend}}
