{{#extend "layout"}}
	{{#content "head" mode="append"}}
		<link rel="stylesheet" href="assets/css/home.css" />
	{{/content}}

	{{#content "body" mode="bogus"}}
		<h1 class="bogus">{{title}}</h1>
	{{/content}}

	{{#content "body"}}
		<h2>Welcome Home</h2>

		<ul>
			{{#items}}
				<li>{{.}}</li>
			{{/items}}
		</ul>
	{{/content}}

	{{#content "body" mode="append"}}
		{{#embed "partial1"}}{{/embed}}
		{{#embed "partial2"}}{{/embed}}
		{{#embed "partial3"}}{{/embed}}
	{{/content}}

	{{#content "footer"}}
		<small>&copy; 2014</small>
	{{/content}}

	{{#content "footer" mode="append"}}
		<div>foo</div>
	{{/content}}

	{{#content "footer" mode="append"}}
		<div>bar</div>
	{{/content}}

	{{#content "footer" mode="prepend"}}
		<div>baz</div>
	{{/content}}

	{{#content "foot" mode="prepend"}}
		<script src="assets/js/analytics.js"></script>
	{{/content}}
{{/extend}}
