{{#extend "layout"}}
    {{#append "head"}}
        <link rel="stylesheet" href="assets/css/home.css" />
    {{/append}}

    {{#replace "body"}}
        <h2>Welcome Home</h2>

        <ul>
            {{#items}}
                <li>{{.}}</li>
            {{/items}}
        </ul>
    {{/replace}}

    {{#append "body"}}
        {{> partial1}}

        {{> partial2}}

        {{> partial3}}
    {{/append}}

    {{#replace "footer"}}
        <small>&copy; 2014</small>
    {{/replace}}

    {{#append "footer"}}
        <div>foo</div>
    {{/append}}

    {{#append "footer"}}
        <div>bar</div>
    {{/append}}

    {{#prepend "footer"}}
        <div>baz</div>
    {{/prepend}}

    {{#prepend "foot"}}
        <script src="assets/js/analytics.js"></script>
    {{/prepend}}
{{/extend}}
