<!doctype html>
<html lang="en-us">
<head>
		<title>Layout Test</title>

		<link rel="stylesheet" href="assets/css/screen.css" />
</head>
<body>
	<div class="site">
		<div class="site-hd" role="banner">
One column		</div>

		<div class="site-bd" role="main">
		<div class="grid">
			<div class="col full">
				<div class="media">
	<div class="media-img">
						<div style="background-image:url('1.png');"></div>

	</div>
	<div class="media-bd">
				<p>One</p>

	</div>
</div>

		<div class="media">
	<div class="media-img">
				<img src="2.png" alt="description 2" />

	</div>
	<div class="media-bd">
				<p>Two</p>

	</div>
</div>


		<div class="media">
	<div class="media-img">
				<img src="3.png" alt="description 3" />

	</div>
	<div class="media-bd">
				<p>Three</p>

	</div>
</div>


			</div>
		</div>
		</div>

		<div class="site-ft" role="contentinfo">
				<small>&copy; 2014</small>
		</div>
	</div>

		<script src="assets/js/controllers/home.js"></script>
</body>
</html>
